{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    ["rewrite-require", {
      "aliases": {
        "brorand": "brorand-shim",
        "crypto": "react-native-crypto",
        "stream": "react-native-stream",
        "vm": "vm-browserify"
      }
    }]
  ]
}
